input[type="text"], input[type="password"]{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:3px;
    border-radius: 10px;
    height: 35px;
    font-size:28px;
}

.text{
	font-family:verdana;
}

.med-text{
	font-size: 20px;
	padding:10px;
}
.centered {
	position:relative;
	margin: auto auto;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
	border-radius:15px;
	text-align: center;
	z-index: 100;
	display: inline-block;
}
.viewport {
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.thick-border{
	border: 7px solid;
	border-color: #222222;
}
.rounded {
	border-radius:15px;
}
.main {
	width: 100%;
	height: 100%;
}
.center, .east, .west, .north, .south {
	text-align: center;
    display: inline-block;
}
.main .west, .main .east {
	width: 15%;
}
.main .south{
	height: 25%;
}
.main .north {
	height: 10%;
}
.wide {
	width: 100%;
}
.left-half{
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;
}
.right-half{
	position: absolute;
	top:0;
	left:50%;
	width: 50%;
	height: 100%;
}
.bottom-right{
	position:absolute;
	right:5px;
	bottom:5px;
}
.black {
	background-color:#444444;
}
.darkgrey {
	background-color:#AAAAAA;
}
.grey {
	background-color:#C0C0C0;
}
.green {
	background-color:#90EE90;
}
.blue {
	background-color:#87CEFA;
}
.black-text {
	color:#444444;
}
.white {
	background-color:#EEEEEE;
}
.white-text {
	color:#EEEEEE;
}
.semi {
	opacity: 0.9;
}
.hidden {
	opacity: 0;
}

.pie {
    width: 2.5em;
    height: 2.5em;
    display: block;
    border-radius: 50%;
    background-color: green;
    border: 2px solid green;
    float: left;
    margin: 0.25em;
}


.ten {
    background-image:
        linear-gradient(126deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.twentyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}

.fifty {
    background-image:
        linear-gradient(90deg, white 50%, transparent 50%);
}

/* Slices greater than 50% require first gradient
   to be transparent -> green */

.seventyfive {
    background-image:
        linear-gradient(180deg, transparent 50%, green 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}
