
input[type="text"], input[type="password"]{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:3px;
    border-radius: 10px;
    height: 35px;
    font-size:28px;
}

.scramble {

}
.scramble-swatch {
	width:25px;
	height:25px;
	border-radius:10px;
	display:inline-block;
}
.scramble-text{
	font-family:verdana;
}

.scramble-med-text{
	font-size: 20px;
	padding:10px;
}
.scramble-large-text{
	font-size: 42px;
	padding:10px;
}
.scramble-centered {
	position:relative;
	margin: auto auto;
}
.scramble-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
	border-radius:15px;
	text-align: center;
	z-index: 100;
	display: inline-block;
}
.scramble-viewport {
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.scramble-thick-border{
	border: 7px solid;
	border-color: #222222;
}
.scramble-rounded {
	border-radius:15px;
}
.scramble-main {
	width: 100%;
	height: 100%;
}
.scramble-center, .east, .west, .north, .south {
	text-align: center;
    display: inline-block;
}
.scramble-main .west, .main .east {
	width: 15%;
}
.scramble-main .south{
	height: 25%;
}
.scramble-main .north {
	height: 10%;
}
.scramble-wide {
	width: 100%;
}

.scramble-left-half{
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;
}
.scramble-right-half{
	position: absolute;
	top:0;
	left:50%;
	width: 50%;
	height: 100%;
}
.scramble-bottom-right{
	position:absolute;
	right:5px;
	bottom:5px;
}
.scramble-top-left{
	position:absolute;
	left:5px;
	top:5px;
}
.scramble-black {
	background-color:#444444;
}
.scramble-darkgrey {
	background-color:#666666;
}
.scramble-grey {
	background-color:#C0C0C0;
}
.scramble-green {
	background-color:#90EE90;
}
.scramble-blue {
	background-color:#87CEFA;
}
.scramble-black-text {
	color:#444444;
}
.scramble-white {
	background-color:#EEEEEE;
}
.scramble-lightgrey {
	background-color:#DDDDDD;
}
.scramble-white-text {
	color:#EEEEEE;
}
.scramble-semi {
	opacity: 0.9;
}
.scramble-hidden {
	display: none;
}
.scramble-game-color {
	background-color: #EEEEEE;
}
.scramble-vpad{
	padding-top:10px;
	padding-bottom:10px;
}

.ui-tabs-vertical { width: 90%; }
.ui-tabs-vertical .ui-tabs-nav { 
	padding: .1em .1em .1em .1em; 
	float: left; 
	width: 30%; 
}
.ui-tabs-vertical .ui-tabs-nav li { 
	clear: left; 
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { 
	padding: 0.1em; 
	float: right; 
	width: 60%;
	height: 80%;
	border-radius:15px;
}


.ui-list .ui-selecting { background: #FECA40; }
.ui-list .ui-selected { background: #F39814; color: white; }
.ui-list { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.ui-list li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: 25px; 
	border-radius: 15px;}
